.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-bottom: 15px;
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 550px;
}

.user-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.user-detail:hover {
    background-color: #f0f0f0;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button {
    padding: 10px 15px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c82333;
}
